<article class="mw7 center ph3 ph5-ns tc br2 pv5 mb5">

  <p>I like comments — generally speaking. Sharing experiences, discussing ideas, correcting my mistakes ;-)…</p>

  <p>But, I also think that online comments are broken.</p>

  <p>Yet, for us to have better (i.e. safer + smarter) conversations:</p>

  <div>
    <a class="f6 no-underline ba grow pv2 ph3 dib" href="#coral_talk_25589127256011945">
      LET'S TALK ↓
    </a>
  </div>

  <p>Powered by the open-source tool <a href="https://github.com/coralproject/talk/">Talk</a>, from
    <a href="https://coralproject.net/">The Coral Project</a> (Mozilla et al.); <strong>decentralized, self-hosted</strong>.</p>
</article>

<div id="coral_talk_25589127256011945">Loading…</div>
<script src="https://openwebtalk.herokuapp.com/embed.js" async onload="
  Coral.Talk.render(document.getElementById('coral_talk_25589127256011945'), {
    talk: 'https://openwebtalk.herokuapp.com/'
  });
"></script>