<p>I like comments - generally speaking. For sharing experiences, discussing ideas, correcting my mistakes ;-).</p>

<p>But, I also think that online comments are broken.</p>

<div class="flex items-center justify-center pa4">
  <span class="lh-title ml3">Yet, for us to have better (safer, smarter) conversations <strong>LET'S TALK ↓</strong></span>  
</div>

<p class="f6 lh-copy">Powered by decentralized, self-hosted open-source tool <a href="https://github.com/coralproject/talk/">Talk</a>, from <a href="https://coralproject.net/">The Coral Project</a> (Mozilla et al.).</p>

<div id="coral_talk_25589127256011945"></div>
<script src="https://openwebtalk.herokuapp.com/embed.js" async onload="
  Coral.Talk.render(document.getElementById('coral_talk_25589127256011945'), {
    talk: 'https://openwebtalk.herokuapp.com/'
  });
"></script>