<p>I like comments - generally speaking. For sharing experiences, discussing ideas, correcting my mistakes ;-).</p>

<p>But, I also think that online comments are broken.</p>

<p>Yet, in order for us to have better — i.e. safer and smarter — conversations <strong>let's talk ↓</strong>… (powered by self-hosted open-source tool <a href="https://coralproject.net/products/talk.html">Talk</a>, from Mozilla's Coral Project)</p>

<div id="coral_talk_25589127256011945"></div>
<script src="https://openwebtalk.herokuapp.com/embed.js" async onload="
  Coral.Talk.render(document.getElementById('coral_talk_25589127256011945'), {
    talk: 'https://openwebtalk.herokuapp.com/'
  });
"></script>